{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Instagram plugin for Craft CMS 3.x
 *
 * Instagram Field Input
 *
 * @author    Leevi Graham
 * @copyright Copyright (c) 2020 Leevi Graham
 * @link      https://newism.com.au
 * @package   Instagram
 * @since     1.0.0
 */
#}

{% import "_includes/forms" as forms %}
<button type="button" class="btn" style="margin-top: 3px; display: inline-flex; align-content: center; align-items: center">
    <svg width="21px" height="20px" viewBox="0 0 21 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g id="instagram-brands" fill="#4A4A4A" fill-rule="nonzero">
                <path d="M10.0267261,4.89977728 C7.19376392,4.89977728 4.90868597,7.18485523 4.90868597,10.0178174 C4.90868597,12.8507795 7.19376392,15.1358575 10.0267261,15.1358575 C12.8596882,15.1358575 15.1447661,12.8507795 15.1447661,10.0178174 C15.1447661,7.18485523 12.8596882,4.89977728 10.0267261,4.89977728 Z M10.0267261,13.3452116 C8.19599109,13.3452116 6.69933185,11.8530067 6.69933185,10.0178174 C6.69933185,8.18262806 8.19153675,6.69042316 10.0267261,6.69042316 C11.8619154,6.69042316 13.3541203,8.18262806 13.3541203,10.0178174 C13.3541203,11.8530067 11.857461,13.3452116 10.0267261,13.3452116 L10.0267261,13.3452116 Z M16.5478842,4.69042316 C16.5478842,5.35412027 16.013363,5.88418708 15.3541203,5.88418708 C14.6904232,5.88418708 14.1603563,5.34966592 14.1603563,4.69042316 C14.1603563,4.0311804 14.6948775,3.49665924 15.3541203,3.49665924 C16.013363,3.49665924 16.5478842,4.0311804 16.5478842,4.69042316 Z M19.9376392,5.90200445 C19.8619154,4.30289532 19.4966592,2.88641425 18.325167,1.71937639 C17.1581292,0.55233853 15.7416481,0.187082405 14.142539,0.106904232 C12.4944321,0.013363029 7.5545657,0.013363029 5.9064588,0.106904232 C4.31180401,0.182628062 2.89532294,0.547884187 1.72383073,1.71492205 C0.55233853,2.88195991 0.191536748,4.29844098 0.111358575,5.89755011 C0.0178173719,7.54565702 0.0178173719,12.4855234 0.111358575,14.1336303 C0.187082405,15.7327394 0.55233853,17.1492205 1.72383073,18.3162584 C2.89532294,19.4832962 4.30734967,19.8485523 5.9064588,19.9287305 C7.5545657,20.0222717 12.4944321,20.0222717 14.142539,19.9287305 C15.7416481,19.8530067 17.1581292,19.4877506 18.325167,18.3162584 C19.4922049,17.1492205 19.857461,15.7327394 19.9376392,14.1336303 C20.0311804,12.4855234 20.0311804,7.55011136 19.9376392,5.90200445 Z M17.8084633,15.9020045 C17.4610245,16.7750557 16.7884187,17.4476615 15.9109131,17.7995546 C14.596882,18.3207127 11.4788419,18.2004454 10.0267261,18.2004454 C8.57461024,18.2004454 5.45211581,18.3162584 4.14253898,17.7995546 C3.26948775,17.4521158 2.59688196,16.77951 2.24498886,15.9020045 C1.72383073,14.5879733 1.844098,11.4699332 1.844098,10.0178174 C1.844098,8.56570156 1.72828508,5.44320713 2.24498886,4.13363029 C2.59242762,3.26057906 3.26503341,2.58797327 4.14253898,2.23608018 C5.45657016,1.71492205 8.57461024,1.83518931 10.0267261,1.83518931 C11.4788419,1.83518931 14.6013363,1.71937639 15.9109131,2.23608018 C16.7839644,2.58351893 17.4565702,3.25612472 17.8084633,4.13363029 C18.3296214,5.44766147 18.2093541,8.56570156 18.2093541,10.0178174 C18.2093541,11.4699332 18.3296214,14.5924276 17.8084633,15.9020045 Z" id="Shape"></path>
            </g>
        </g>
    </svg>
    <span style="margin-left: 8px">Connect Instagram</span>
</button>
<p style="margin: 8px 0;">Token:</p>
{{ forms.textarea({
    id: name,
    name: name,
    value: value ? value|json_encode(constant('JSON_PRETTY_PRINT')) : '',
    rows: 8
}) }}
{#
{% if value %}
    {% set userMedia = craft.instagram.fetchUserMedia(value, 60) %}
    {% if userMedia.data|length %}
        <p>Preview:</p>
        {% for entry in userMedia.data %}
            <img src="{{ entry.media_url }}" alt="{{ entry.caption|default() }}" style="height: 100px" />
        {% endfor %}
    {% endif %}
{% endif %}
#}
